# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Debug & crash reports
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed

# Optional build outputs
dist/
build/

# OS files
.DS_Store
Thumbs.db
